
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #747E80;
  font-family: 'Maven Pro', sans-serif;
}

.text-center{
  text-align: center;
}

.flex{
  display: flex;
}

h1,h2{
  padding: 5px 0
}

header{
  height: 70vh
}

main{
  height:25vh
}

.hero{
  height: 100%;
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-position-y: 59%;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-container{
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
  background-color: #0673DA;
  padding: 15px 0
}

.price-box{
  margin: auto;
  margin-top: 15px;
  min-height: 50px;
  width: 20%;
  background-color: grey;
  border: 3px solid white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

#prezzo-netto{
  font-size: 30px
}

footer{
  height: 5vh;
  background-color: #fff;
  justify-content: center;
  align-items: center

}
